@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 10px;
    text-decoration: none;
    font-family: Impact, fantasy;
    font-size: 40px;
    color: white;
    font-size: 60px;
    letter-spacing: 0.5mm;
    background: url('https://addict-culture.com/wp-content/uploads/2019/04/Keith-Haring-Brooklyn-Museum_luca-conti-2011.jpg');
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    transition: 1s;
    box-shadow: 2px 2px 0 black;
    border: solid black 1px;
}

#div1 {
        width: 100px;
        height: 100px;
    }

#p1 {
        text-align: center;
        margin-top: -1px;
        color: white;
        font-family: Impact, fantasy;
        font-size: 35px;
        text-shadow: 0 0 8px #000;
        text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
        letter-spacing: 0mm;
    }

    #p2 {
        text-align: center;
        margin-top: -52px;
        color: white;
        font-family: Impact, fantasy;
        font-size: 70px;
        text-shadow: 0 0 8px #000;
        text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px; 
    }

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 4px 4px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 10px;
}

  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}